:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #999;

  --primary: var(--black);
  --secondary: var(--white);

  --assertive: #ff00ff;
  --focus: #ff00ff;
  --color-error: #ff0000;
  --color-sucess: #4dc247;
}
