<link rel="preload" href="/assets/fonts/FKGrotesk-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/FKGrotesk-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/FKGrotesk-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" type="text/css" href="/assets/fonts/fonts.css">
