<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ locale }}">
    {# HEAD #}
    {% include "layout/_head.njk" %}

    {# BODY #}
    {% if build.isDev %}{% set bodyClass = bodyClass + " __debug" %}{% endif %}

    <body class="{{ bodyClass }}">
        {# HEADER #}
        {% include "layout/header.njk" %}

        {# MAIN #}
        <main id='Main'>
            <article data-scroll-container>
                {{ content | safe }}
            </article>
        </main>

        {# SCROLLBAR #}
        {% include "modules/scroll_bar.njk" %}

        {# FOOTER #}
        {% include "layout/footer.njk" %}

        <script async defer src="/assets/preload.js"></script>
    </body>
</html>
