<footer id="Footer" data-scroll-section>
    <div data-scroll data-scroll-call="footerAnimation" data-scroll-repeat>
        THE END. made by <a href="https://www.josesentis.com">Jose Sentis</a>
    </div>
</footer>
