#Header {
    --width: 100%;
    --height: var(--header-height);
    --color: var(--secondary);
    --bg: var(--primary);
    --padding-v: var(--padding-xs);
    --padding-h: var(--padding-xs);
    --font-size: var(--font-size-base);
}

#Header {
    @include z-index($z-index-header);
    position: fixed;
    width: var(--width);
    height: var(--height);
    padding: var(--padding-v) var(--padding-h);
    right: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: transform .3s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color);
    background-color: var(--bg);

    ._scrolled-down & {
        transform: translate3d(0, -100%, 0);
    }
}
