<section id="block-image" class="block-image" data-scroll-section>
    <div data-scroll data-scroll-type="img-scale">
        <h2 class="title">BLOCK IMAGE SCALE</h2>
        <div class="wrapper">
            <img src="/assets/images/image.jpg" />
        </div>
    </div>
</section>
