<section id="block-image" class="block-image" data-scroll data-scroll-class="img-scale">
    <h2 class="title">BLOCK IMAGE</h2>
    <div class="wrapper">
        <img src="/assets/images/image.jpg" />
    </div>
</section>
