<section id="container" class="block-mouse">
    {# 1 #}
    <div class="box __target"></div>

    {# 2 #}
    {# <div class="box __target" data-speed="0.05"></div>
    <div class="box __target" data-speed="0.1"></div>
    <div class="box __target" data-speed="0.5"></div> #}
</section>
