<section class="block-slider-horizontal-scroll">
    <h2 class="title">BLOCK SLIDER HORIZONTAL SCROLL</h2>
    <div
        id="block-slider-horizontal-scroll"
        class="slider"
        data-scroll 
        data-scroll-class="slider-horizontal-scroll" 
        style="--height: 500vw;"
    >
    <div data-scroll data-scroll-sticky data-scroll-target="#block-slider-horizontal-scroll">
        <div class="holder">
            <div class="slide" data-scroll-slider>
                <span>INITIAL</span>
            </div>
            {% for item in range(1, 4) %}
                <div class="slide" data-scroll-slider>
                    <span>{{ item }}</span>
                </div>
            {% endfor %}
            <div class="slide" data-scroll-slider>
                <span>END</span>
            </div>
        </div>
    </div>
</section>
