<section id="block-image-skew" class="block-image" data-scroll data-scroll-class="img-skew">
    <h2 class="title">BLOCK IMAGE SKEW</h2>
    <div class="wrapper">
        <img src="/assets/images/image.jpg" />
    </div>
</section>
