<section class="block-speeds" data-scroll>
    <h2 class="title">BLOCK SPEEDS</h2>
    <div class="wrapper">
        <img src="/assets/images/image.jpg" data-scroll data-scroll-speed="5" />
        <img src="/assets/images/image.jpg" />
        <img src="/assets/images/image.jpg" data-scroll data-scroll-speed="10" />
    </div>
</section>
