---
image: /assets/social/facebook-1200x630.jpg
image_twitter: /assets/social/twitter-600x330.jpg
layout: layout/default
htmlClass: html
bodyClass: body
---

{% include "blocks/block-1.njk" %}
{% include "blocks/block-sticky.njk" %}
{% include "blocks/block-2.njk" %}
{% include "blocks/block-object.njk" %}
{% include "blocks/block-slider-horizontal-scroll.njk" %}
{% include "blocks/block-speeds.njk" %}
{% include "blocks/block-slider-fade.njk" %}
{% include "blocks/block-image-scale.njk" %}
{% include "blocks/block-image-skew.njk" %}
{% include "blocks/block-3.njk" %}
