.block-mouse {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    // .wrapper {
    //     border: 1px solid black;
    //     height: 50%;
    //     position: relative;
    //     width: 50%;
    // }

    .box {
        height: 250px;
        left: calc(50% - 125px);
        position: absolute;
        top: calc(50% - 125px);
        width: 250px;
        
        &:first-child {
            background-color: orange;
        }
    }
}
