.block-mouse {
    height: 100vh;
    width: 100vw;

    .box {
        height: 250px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 250px;
        
        &:first-child {
            background-color: orange;
        }
        
        &:nth-child(2) {
            background-color: yellow;
        }
        
        &:nth-child(3) {
            background-color: red;
        }
    }
}
