.block-image {
    --font-size-h2: var(--font-size-large);
    --color: var(--primary);
    --padding-v: var(--padding-xl);
    --padding-h: var(--padding-l);
}

.block-image {
    color: var(--color);
    padding: var(--padding-v) var(--padding-h);

    h2 {
        @include font-sans-bold(1);
        font-size: var(--font-size-h2);
    }
        
    .wrapper  {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100vh;

        img {
            height: 50vh;
            transform-origin: center center;
            transform-style: preserve-3d;
            width: auto;
        }
    }
}
